html {
    background-color: lightgray;
    margin:0px;
}

header {  
    background-color: lightgray;
    position: fixed;
    top:0;
    width:100%;
    display:block;
    justify-content:center;
    margin: 0px;
    padding: 20px;
    box-shadow: gray 7px 2px 7px;
}


header h1 {
    color:green;
    text-align: center;
    margin:0px;
}

h1 span, h2 {
    color: #c40d4a;
}

h2 {
    position:sticky;
}


p {
    color:white;
    height:5%;
}


.flowers {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
    margin:100px 30px;
    z-index: -1;
}

.item {
    display:flex;
    flex-direction: column;
    background-color: rgb(233, 125, 143);
    color: green;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: gray 7px 2px 7px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.image {
    height:90%;
}


.input {
    margin: 0px;
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.price-input {
    display:grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    text-align: start;
    margin: 30px;

}

label {  
    text-align: start;    
}


button { 
    background-color: #c40d4a;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    box-shadow: green 2px;
}

button:hover {
    background-color: green;
}
button:active {
    background-color: white;
    color: green;
}


@media screen and (max-width: 760px) {

.flowers {
    position:relative;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto;
    }
}

section {
    text-align: center;
}


input {
    margin:0px;
}




@media screen and (max-width: 550px) {
   .flowers {
    display: grid;
    grid-gap: 50px;
    margin: 120px 30px;
    grid-template-columns: auto;

    } 
}